<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kclm.owep.mapper.OrgInstituteMapper">

    <resultMap id="BaseResultMap" type="com.kclm.owep.entity.OrgInstitute">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="institute_name" jdbcType="VARCHAR" property="instituteName" />
        <result column="institute_type" jdbcType="INTEGER" property="instituteType" />
        <result column="is_delete" jdbcType="INTEGER" property="delete" />
        <result column="version" jdbcType="INTEGER" property="version" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="last_access_time" jdbcType="TIMESTAMP" property="lastAccessTime" />
    </resultMap>

    <sql id="Base_Column_List">
        id, institute_name, institute_type, is_delete, version, create_time, last_access_time
    </sql>

    <select id="selectAll" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
        from t_org_institute
        where is_delete = 1
    </select>

    <select id="selectAllByKeyWords" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
        from t_org_institute
        <where>
            <if test="orgName != null and orgName != ''">
                institute_name = #{orgName}
            </if>
            <if test="orgTypeInt != null and orgTypeInt != ''">
                and institute_type = #{orgTypeInt}
            </if>
            and is_delete = 1
        </where>
    </select>

    <update id="deleteById">
        update t_org_institute
        set is_delete = 0
        where id = #{id}
    </update>

    <update id="deleteSelect">
        update t_org_institute
        set is_delete = 0
        where id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <insert id="save">
        insert t_org_institute(institute_name, institute_type, create_time, last_access_time) values (#{instituteName}, #{instituteType}, #{createTime}, #{lastAccessTime})
    </insert>

    <select id="selectById" resultMap="BaseResultMap">
        select institute_name, institute_type from t_org_institute where id = #{id}
    </select>

    <update id="updateOrg">
        update t_org_institute set institute_name = #{name}, institute_type = #{type} where id = #{id}
    </update>
</mapper>